<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Employee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>
<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>Employee Registration</h2>
            <img th:src="@{/images/spring-boot.png}"/>
            <form th:action="@{/saveRegistrationDetails}" th:object="${registration}" method="post">
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <label>FirstName</label>
                        <input type="text" class="form-control" th:field="*{firstname}">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>LastName</label>
                        <input type="text" class="form-control" th:field="*{lastname}">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>UserName</label>
                        <input type="text" class="form-control" th:field="*{username}">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" th:field="*{password}">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" th:field="*{confirmPassword}">
                    </div>

                     <div class="col-md-6 form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" th:field="*{phone}">
                    </div>
                     <div class="col-md-6 form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" th:field="*{email}">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>City</label>
                        <input type="text" class="form-control" th:field="*{city}">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Address1</label>
                        <input type="text" class="form-control" th:field="*{state}">
                    </div>

                    <div class="col-md-6 form-group">
                        <label>Zipcode</label>
                        <input type="text" class="form-control" th:field="*{zipcode}">
                    </div>
                    
                    
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">Save</button>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</body>
</html> 